.con {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(100, 0, 123);
}
.con p {
  font-size: 30px;
  /* background-color: rgb(123, 1, 150); */
}
